.git/
.*.sw[op]
.metadata
.yardoc
.yardwarns
*.iml
/.bundle/
/.idea/
/.vagrant/
/coverage/
/bin/
/doc/
/Gemfile.local
/Gemfile.lock
/junit/
/log/
/pkg/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/tmp/
/vendor/
/convert_report.txt
/update_report.txt
.DS_Store
.project
.envrc
/inventory.yaml
/spec/fixtures/litmus_inventory.yaml
.modules/
.plan_cache.json
.resource_types/*
.task_cache.json
bolt-debug.log
terraform/*/.terraform.lock.hcl
terraform/*/.terraform/
terraform/*/*.tfstate
terraform/*/*.tfstate.backup
.rvmrc
.rerun.json

